* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: "Calibri";
}

.navbar {
    display: flex;
    width: 100%;
    height: 40px;
    background-color: black;
    align-items: center;
}

#menu-btn {
    margin-left: 20px;
    width: 20px;
    height: 20px;
    background-color: black;
    cursor: pointer;
}

#title {
    color: white;
    font-weight: lighter;
    font-size: 130%;
    margin-left: 30px;
    box-sizing: border-box;
}

.container {
    display: flex;
    position: relative;
}

.mask {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: black;
    opacity: .5;
    z-index: 999;
}

.confirm {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 30%;
    left: 40%;
    height: 150px;
    width: 450px;
    border: none;
    box-sizing: border-box;
    border-radius: 7px;
    z-index: 1000;
    background: white;
}

.confirm-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-right: none;
    border-left: none;
    box-sizing: border-box;
    padding: 0  15px;
}

span {
    font-weight: bold;
    font-size: 23px;
    color: #373D49;
}

.confirm-body {
    display: flex;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-right: none;
    border-left: none;
    padding: 10px 15px;
    box-sizing: border-box;
}

.text-in-confirm-body {
    font-size: 18px;
    font-weight: lighter;
}

.confirm-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 15px;
}

.confirm-btns {
    padding: 0 20px;
    width: 80px;
    height: 30px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #348efb;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 0 5px;

}

#del-yes:hover {
    background-color: red;
}

#del-no:hover {
    background-color: green;
}

#del-yes:active {
    background-color: #a20000;
}

#del-no:active {
    background-color: #006c00;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    max-width: 16rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-left: none;
    border-bottom: none;
    transition: .3s;
    transform: translateX(-100%);
}

.sidebar-active {
    transform: translateX(0);
}

.content {
    transition: .3s;
}

.content-active {
    transform: translateX(257px);
}

.create {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 256px;
    border-bottom: 1px solid rgba(35, 114, 251);
}

#create-note-btn {
    margin: 15px 0 15px 0;
    width: 200px;
    height: 35px;
    background-color: #348efb;
    border: #348efb;
    color: white;
    border-radius: 5px;
    font-size: 95%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

#create-note-btn:hover {
    box-shadow: #1212ff 3px -1px 8px;
    transition: all .2s ease-in-out;
}

#create-note-btn:active {
    background-color: rgb(18, 18, 255);
    border: rgb(18, 18, 255);
    transition: all .1s ease-in-out;
}

.block-clear-all {
    border-top: 1px solid rgba(35, 114, 251);
    border-right: none;
    border-left: none;
}

#clear-all-btn {
    margin: 15px 0 15px 15px;
    width: 200px;
    height: 35px;
    background-color: #348efb;
    border: #348efb;
    color: white;
    border-radius: 5px;
    font-size: 95%;
    cursor: pointer;
    transition: all .1s ease-in-out;
}

#clear-all-btn:hover {
    background-color: #ff0000;
    transition: all .1s ease-in-out;
}

#clear-all-btn:active {
    background-color: rgb(161, 0, 0);
    transition: all .05s ease-in-out;
}

ul {
    list-style-type: none;
}

li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 10px 3px 10px;
    border-bottom: 1px solid rgba(35, 114, 251);
    height: 6rem;
    box-sizing: border-box;
    cursor: pointer;
    white-space: nowrap;
}

.save-notes {
    overflow-y: auto;
    height: 780px;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.active-list {
    background-color: rgba(0, 0, 0, 0.04);
}

.text-in-saved-notes {
    overflow: hidden;
    text-overflow: ellipsis;
}

.current-note {
    width: calc(100% - 92px);
    height: 100%;
    transition-property: width;
    transition-duration: .3s;
}

.current-note-active {
    height: 100%;
    width: calc(100% - 256px - 92px);
}

#note-title {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 50px;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-left: none;
    border-right: none;
    outline: none;
    box-sizing: border-box;
}

.wrapper-text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#text {
    border: none;
    padding: 20px;
    width: 100%;
    height: 815px;
    resize: none;
    outline: none;
    font-size: 20px;
    box-sizing: border-box;
}

.content {
    display: flex;
    width: 100%;
}

.tools {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: .3s;
    z-index: 5;
}

.tools-active {
    transform: translateX(-257px);
}

.note-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.time {
    font-weight: 400;
    font-size: 13px;
}

.note-delete {
    min-height: 24px;
    min-width: 24px;
}

.trash-can {
    height: 17px;
    width: 17px;
    transition: all .2s;
}

.trash-can:hover {
    height: 20px;
    width: 20px;
    transition: all .2s;
}

.tools-icons-block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    border: 1px solid rgba(255, 0, 0, 0.0);
    transition-property: border-radius, borfer;
    transition-duration: .2s, .2s;
    transition-timing-function: ease-in-out;
}

.tools-icons-block:active {
    border: 1px solid rgb(255, 0, 0);
    border-radius: 20%;
    transition: all .1s ease-in-out;
}

.tools-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition-property: width, height;
    transition-duration: .2s;
}

.tools-icon:hover {
    width: 35px;
    height: 35px;
    transition: all .2s;
}

.active-icon {
    width: 40px;
    height: 40px;
}